@font-face {
    font-family: "Manyu";
    src: url("../font/Manyu.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "backly";
    src: url("../font/backly.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FMwr";
    src: url("../font/FMwr.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Jiyi";
    src: url("../font/Jiyi.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nrwyy";
    src: url("../font/nrwyy.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Tianxin";
    src: url("../font/Tianxin.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Xiaye";
    src: url("../font/Xiaye.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "garu";
    src: url("../font/garu.ttf");
    font-weight: normal;
    font-style: normal;
}